


body { background: url(./sfondo.jpg);
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
background-position: center;
}

:root {
    --main-color : #998BFF
    --main-gradient : linear-gradient(45deg , )
    --main-gradient-transparent: linear-gradient( 45deg , #998BFF )
}

.main-wrapper {

    height: 500px;
    background:  linear-gradient(45deg , #998bff62, #4113ca62, #c98cff62);
    backdrop-filter: blur(3px);
    padding: 40px;
    border-radius: 60px;
    box-shadow: 4px 4px 6px 0 rgba(10, 10, 228, 0.295),
    -4px -4px 6px 0 rgba(19, 64, 119, 0.575),
    inset -4px -4px 6px 0 rgba(57, 19, 160, 0.411),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.062);
}

.btn-menu {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #4113ca62;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  

    transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
    font-size: 20px;
    color: rgb(190, 22, 162);
    text-decoration: none;
  }
  

  .btn:hover{
    color: rgb(245, 45, 211);
  }

  .btn-play-song:hover{
      color: rgba(12, 162, 221, 0.877);
  }


 

  .btn-play-song{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: #4113ca62;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  

    transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
    font-size: 26px;
    color: rgb(190, 22, 162);
    text-decoration: none;
  }


  .scroll-y{
      overflow-y: scroll;
  }



  /* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(190, 22, 162);
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(245, 45, 211);
    
  }

/* Lista Canzoni */
   .card-song{
      padding: 10px 30px;
      border-bottom: solid 2px rgb(190, 22, 162);

  }

  /* sezione Player */

  .album-cover{
      border-radius: 100%;

  }

  .album-cover.play{
     
  background: rgb(76, 23, 224);
  box-shadow: 0 0 0 0 rgb(233, 33, 206);
  animation: pulse-purple 2s infinite;
  animation-timing-function: linear;
  }

  @keyframes pulse-purple {
    0% {
      transform: scale(1);
      box-shadow: 0 0 10px 0 rgba(248, 82, 248, 0.829);
    }
    45% {
        transform: scale(1);
        box-shadow: 0 0 10px 0 rgba(161, 41, 216, 0.829);
      }
    70% {
      transform: scale(1);
      box-shadow: 0 0 10px 10px rgba(40, 43, 236, 0.801);
    } 100% {
        transform: scale(1);
        box-shadow: 0 0 10px 0 rgba(248, 82, 248, 0.829);
      }}

    /* Progress Bar */

    .player-progress {
        display: flex;
        height: 15px;
        overflow: hidden;
        font-size: .75rem;
        background-color: rgba(0, 0, 0, 0.452);
        border-radius: 30px;
    }

    .player-progress .progress-bar{
        background: linear-gradient(45deg , rgb(190, 22, 162) , rgb(245, 45, 211) , #c98cff62);

        border-radius: 10px;
        
    }